:root {
--yellow-400: hsl(49, 85%, 70%);
--green-500: hsl(140, 63%, 57%);
--red-500: hsl(354, 63%, 57%);
--blue-400L hsl(210, 100%, 65%);
--blue-600: hsl(214, 100%, 55%);
- **Neutral 900**: hsl(0, 0%, 7%)
- **Neutral 800**: hsl(0, 0%, 15%)
- **Neutral 500**: hsl(240, 3%, 46%)
- **Neutral 400**: hsl(240, 1%, 59%)
- **Neutral 0**: hsl(0, 0%, 100%)

}

