/* sora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/sora-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/sora-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/sora-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
--green-500: hsl(140, 63%, 57%);
--red-500: hsl(354, 63%, 57%);
--yellow-400: hsl(49, 85%, 70%);

--blue-600: hsl(214, 100%, 55%);
--blue-400: hsl(210, 100%, 65%);


--neutral-900: hsl(0, 0%, 7%);
--neutral-800: hsl(0, 0%, 15%);
--neutral-500: hsl(240, 3%, 46%);
--neutral-400: hsl(240, 1%, 59%);
--neutral-0: hsl(0, 0%, 100%);

--fz-sm: 1rem;

--fw-400: 400;
--fw-600: 600;
--fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100svh;
    font-size: var(--fz-sm);
    
}

ul {
  list-style: none;
}



.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.header {

}
.header-top {
  justify-content: space-between;  
}
.header-bottom .header-left {
  text-align: center;

}

.difficulty-txt ,
.mode-txt {
  display: none;
}
.form-control {
  --gap: .5em;
  color: #000000;
  grid-template-columns: 1em auto;
  align-items: center;


}

input[type="radio"] {
  display: grid;
  place-content: center;
  --webkit-appearance: none;
  appearance: none; /* removes all inherited browser styles */
  background: var(--blue-400);
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: .15em solid currentColor;
  border-radius: 50%;
  color: currentColor; 
}

input[type="radio"]:focus {
  outline: max(2px 0.15em);

}
/* dot in middle */
input[type="radio"]::before {
  content: "";
  width: 0.475em;
  height: 0.475em;
  border-radius: 50%;
  box-shadow: inset 1em 1em black;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: CanvasText; /* Windows high contrast mode */
}

input[type="radio"]:checked::before {
  transform: scale(1);
}