/* sora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/sora-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/sora-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/sora-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
--green-500: hsl(140, 63%, 57%);
--red-500: hsl(354, 63%, 57%);
--yellow-400: hsl(49, 85%, 70%);

--blue-600: hsl(214, 100%, 55%);
--blue-400: hsl(210, 100%, 65%);


--neutral-900: hsl(0, 0%, 7%);
--neutral-800: hsl(0, 0%, 15%);
--neutral-500: hsl(240, 3%, 46%);
--neutral-400: hsl(240, 1%, 59%);
--neutral-0: hsl(0, 0%, 100%);

--fz-sm: 1rem;

--fw-400: 400;
--fw-600: 600;
--fw-700: 700;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100svh;
    font-size: var(--fz-sm);
    
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.header {

}
.header-top {
  justify-content: space-between;  
}
.he